body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

/*NAVBAR*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-logo h1 {
    color: #FFFFFF;
    padding-left: 150px;
}

.nav-logo span {
    color: #728981;
}

.list-items {
    padding-left: 300px;
}

.list-items ul {
    display: flex;
}

.list-items li {
    list-style-type: none;
    color: #839b91;
    padding-left: 40px;
}

.list-items span {
    color: #FFFFFF;
    border-bottom: 4px solid #f9bf29;
}

.login-cart-icons {
    padding-right: 190px;
}

.svg-size {
    height: 25px;
    color: #FFFFFF;
}

/*BANNER*/
.banner {
    background-color: #3b5d50;
    height: 615px;
}

.banner-content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.left-content {
    padding-left: 150px;
    width: 33.333%
}

.left-content h1 {
    color: #FFFFFF;
    font-size: 50px;
    margin-top: 120px;
}

.two-buttons {
    display: flex;
    margin-top: 100px;
}

.yellow-btn button {
    background-color: #f9bf29;
    width: 130px;
    height: 40px;
    border-radius: 25px;
    border: none;
}

.transparent-btn button {
    background: none;
    width: 130px;
    height: 40px;
    border-radius: 25px;
    border: solid 2px #839b91;
    color: #FFFFFF;
    margin-left: 20px;
}

.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-dots img {
    height: 169px;
    position: absolute;
    right: 0;
    top: 102px;
}

.green-couch img {
    height: 500px;
    margin-top: 40px;
    position: relative;
    z-index: 2;
}

.two-img {
    position: relative;
}

/*CRAFTED SECTION*/

.crafted-section {
    height: 450px;
    background-color: #EFF2F1;
}

.crafted-content {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 100px;
}

.crafted-left {
    padding-left: 150px;
    width: 18%;
}

.crafted-left h1 {
    margin-top: 0px;
    font-size: ;
}

.crafted-left p {
    color: #6A6A6A;
    font-weight: 200;
}

.crafted-left button {
    background-color: #2F2F2F;
    border: none;
    width: 115px;
    height: 40px;
    border-radius: 25px;
    color: #FFFFFF;
    margin-top: 25px;
}

.crafted-right {
    display: flex;
    width: 76%;
    justify-content: space-evenly;
}

.card {
    width: 250px;
    /* height: 200px; */
    /* background-color: #dce5e4; */
    text-align: center;
    border-radius: 20px;
}

.card:hover {
    background-color: #dce5e4;
}

.plus img {
    height: 30px;
    opacity: 0;
    transform: translateY(19px);
}

.card:hover .plus img {
    opacity: 1;
}

.nordic-chair img,
.kruzo-aero-chair img,
.ergonomic-chair img {
    height: 230px;
    transition: 0.2s ease-in-out;
}

.chair-text h4 {
    text-align: center;
    margin: 0px;
    transition: 0.3s ease-in-out;
}

.chair-text {
    margin-top: 25px;
}

.card:hover .nordic-chair img,
.card:hover .kruzo-aero-chair img,
.card:hover .ergonomic-chair img {
    transform: translateY(-50px);
    filter: drop-shadow(5px 5px 5px #222);
}

.card:hover .chair-text h4 {
    opacity: 1;
    transform: translateY(-50px);
}

/*WHY SECTION*/

.why-section {
    height: 700px;
    background-color: #EFF2F1;
}

.why-content {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 100px;
}

.why-left {
    padding-left: 150px;
    width: 50%;
}

.four-benefits {
    margin-top: 55px;
}

.why-right {
    width: 50%;
}

.column {
    margin-top: 10px;
    position: relative;
}

.column img {
    height: 32px;
}

.column span,
.why-left span {
    color: #6A6A6A;
    font-weight: 200;
}

.four-benefits .row {
    display: flex;
}

.four-benefits .column {
    flex: 50%;
}

.blue-circle {
    background-color: #35736E33;
    width: 10%;
    height: 20%;
    border-radius: 50%;
    position: absolute;
    left: 4%;
    top: 2px;
}

.yellow-dots img {
    height: 169px;
    position: absolute;
}

.cool-interior img {
    height: 500px;
    position: relative;
    left: 75px;
    top: 50px;
}

/*HELP SECTION*/

.help-section {
    height: 700px;
    background-color: #EFF2F1;
}

.help-content {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 100px;
}

.help-left {
    width: 50%;
    padding-left: 60px;
}

.help-right {
    width: 50%;
    padding-left: 15px;
}

.help-right p {
    color: #6A6A6A;
    font-weight: 200;
}

.help-right h1 {
    margin-top: 80px;
}

.blue-dots img {
    height: 169px;
    position: absolute;
}

.warm-interior img {
    height: 450px;
    position: relative;
    left: 108px;
    top: 52px;
    border-radius: 5px;
}

.bar-stool img {
    height: 308px;
    position: relative;
    left: 410px;
    bottom: 210px;
    border-radius: 5px;
}

.study-room img {
    height: 180px;
    position: relative;
    left: 485px;
    top: -715px;
    border-radius: 5px;
}

.four-bullet-pts {
    display: flex;
}

ul {
    padding-left: 0;
    margin: 0;
}

.four-bullet-pts li {
    list-style: none;
    background-size: 10px;
    background-image: url("https://i.ibb.co/hHhh1Bm/Ellipse-67-1.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding: 0px 25px;
    padding-top: 2px;
}

.help-right button {
    background-color: #2F2F2F;
    border: none;
    width: 115px;
    height: 40px;
    border-radius: 25px;
    color: #FFFFFF;
    margin-top: 25px;
}

/*SM CHAIR SECTION*/

.sm-chair-section {
    background-color: #EFF2F1;
    height: 300px;
}

.sm-chair-content {
    padding-top: 100px;
    max-width: 1440px;
    margin: 0 auto;
}

.sm-img img {
    height: 132px;
    transform: translateY(-18px);
}

.sm-blue-square {
    height: 110px;
    background-color: #b7ccca;
    width: 105px;
    border-radius: 15px;
    text-align: center;
}

.sm-chair-text {
    padding-left: 20px;
    padding-right: 25px;
}

.sm-chair-text span {
    color: #6A6A6A;
    font-weight: 200;
}

.sm-chair-text p {
    color: #6A6A6A;
}

.sm-chair-text h3 {
    font-size: 16px;
    margin-top: 0;
}

.sm-three-cards {
    display: flex;
    padding-left: 150px;
}

.sm-nordic-chair-card,
.sm-kruzi-chair-card,
.sm-ergo-chair-card {
    display: flex;
}

/*BLOG SECTION*/

.blog-section {
    background-color: #EFF2F1;
    height: 550px;
}

.blog-content {
    max-width: 1440px;
    margin: 0 auto;
    /* padding-left: 150px; */
}

.top-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left-text {
    padding-left: 150px;
}

.right-text {
    padding-right: 155px;
}

.right-text p {
    border-bottom: 3px solid #000000;
}

.blog-row {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 70px;
}

.blog-column {
    width: 30%;
    flex-direction: column;
    margin-right: 20px;
}

.blog-column img {
    border-radius: 10px;
    width:100%;
}

.blog-column span {
    font-style: italic;
    font-weight: 200;
}

/*NEWSLETTER SECTION*/
.newsletter-section {
    height: 300px;
}

.newsletter-content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.newsletter-left {
    padding-left: 150px;
    width: 50%;
    padding-top: 80px;
}

.newsletter-right {
    width: 35%;
}

.newsletter-title {
    display: flex;
    align-items: center;
}

.newsletter-title h3 {
    padding-left: 20px;
}

.newsletter-title img {
    height: 20px;
}

.green-sofa img {
    height: 390px;
    transform: translateY(-85px);
}

input {
    width: 260px;
    height: 35px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
}

input[type=text] {
    padding-left: 20px;
    margin-right: 10px;
}

.newsletter-flex {
    display: flex;
}

.green-square {
    height: 38px;
    width: 40px;
    background-color: #35736E;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    text-align: center;
}

.green-square img {
    height: 25px;
    transform: translateY(5px);
}

/*FOOTER SECTION*/
.footer-content {
    max-width: 1440px;
    margin: 0 auto;
}

.footer-flex {
    display: flex;
}

.footer-left {
    padding-left: 150px;
    width: 30%;
}

.footer-left p {
    font-weight: 200;
}

.footer-right {
    width: 60%;
}

.grey-circle {
    width: 50px;
    height: 50px;
    background-color: #D9D9D9;
    border-radius: 35px;
    margin-right: 10px;
    margin-top: 50px;
    text-align: center;
}

.grey-circle img {
    height: 20px;
    transform: translateY(14px);
}

.footer-icons {
    display: flex;
}

.footer-links {
    display: flex;
    padding-top: 75px;
}

.footer-links li {
    line-height: 28px;
    list-style-type: none;
    padding: 0px 25px;
    font-weight: 200;
}

.line {
    margin-top: 40px;
    margin-bottom: 30px;
    border: 1px solid #EFF2F1;
    max-width: 1140px;
    margin-left: 150px;
}

.text-footr-flex {
    display: flex;
    padding-left: 150px;
    margin-bottom: 40px;
}

.text-footr-left {
    font-weight: 200;
}

.text-footr-right {
    display: flex;
    padding-left: 430px;
    font-weight: 200;
}

.privacy-text p {
    margin-left: 30px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1139px) {
   
  }
  