body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

/*NAVBAR*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-logo h1 {
    color: #FFFFFF;
    padding-left: 150px;
}

.nav-logo span {
    color: #728981;
}

.list-items {
    padding-left: 300px;
}

.list-items ul {
    display: flex;
}

.list-items li {
    list-style-type: none;
    color: #839b91;
    padding-left: 40px;
}

.list-items span {
    color: #FFFFFF;
    border-bottom: 4px solid #f9bf29;
}

.login-cart-icons {
    padding-right: 190px;
}

.svg-size {
    height: 25px;
    color: #FFFFFF;
}

/*BANNER*/
.banner {
    background-color: #3b5d50;
    height: 615px;
}

.banner-content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.left-content {
    padding-left: 150px;
    width: 33.333%
}

.left-content h1 {
    color: #FFFFFF;
    font-size: 50px;
    margin-top: 120px;
}

.two-buttons {
    display: flex;
    margin-top: 100px;
}

.yellow-btn button {
    background-color: #f9bf29;
    width: 130px;
    height: 40px;
    border-radius: 25px;
    border: none;
}

.transparent-btn button {
    background: none;
    width: 130px;
    height: 40px;
    border-radius: 25px;
    border: solid 2px #839b91;
    color: #FFFFFF;
    margin-left: 20px;
}

.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-dots img {
    height: 169px;
    position: absolute;
    right: 0;
    top: 102px;
}

.green-couch img {
    height: 500px;
    margin-top: 40px;
    position: relative;
    z-index: 2;
}

.two-img {
    position: relative;
}

/*CRAFTED SECTION*/

.crafted-section {
    height: 450px;
}

.crafted-content {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 100px;
}

.crafted-left {
    padding-left: 150px;
    width: 18%;
}

.crafted-left h1 {
    margin-top: 0px;
    font-size: ;
}

.crafted-left p {
    color: #6A6A6A;
}

.crafted-left button {
    background-color: #2F2F2F;
    border: none;
    width: 115px;
    height: 40px;
    border-radius: 25px;
    color: #FFFFFF;
    margin-top: 25px;
}

.crafted-right {
    display: flex;
    width: 76%;
    justify-content: space-evenly;
}

.card {
    width: 250px;
    /* height: 200px; */
    /* background-color: #dce5e4; */
    text-align: center;
    border-radius: 20px;
}

.card:hover {
    background-color: #dce5e4;
}

.plus img {
    height: 30px;
    opacity: 0;
}

.card:hover .plus img {
    opacity: 1;
}

.nordic-chair img,
.kruzo-aero-chair img,
.ergonomic-chair img {
    height: 230px;
    transition: 0.2s ease-in-out;
}

.chair-text h4 {
    text-align: center;
    margin: 0px;
    transition: 0.3s ease-in-out;
}

.chair-text {
    margin-top: 25px;
}

.card:hover .nordic-chair img,
.card:hover .kruzo-aero-chair img,
.card:hover .ergonomic-chair img {
    transform: translateY(-50px);
    filter: drop-shadow(5px 5px 5px #222);
}

.card:hover .chair-text h4 {
    opacity: 1;
    transform: translateY(-50px);
}

/*WHY SECTION*/

.why-section {
    height: 700px;
}

.why-content {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 100px;
}

.why-left {
    padding-left: 150px;
    width: 50%;
}

.four-benefits {
    margin-top: 55px;
}

.why-right {
    width: 50%;
}

.column {
    margin-top: 10px;
    position: relative;
}

.column img {
    height: 32px;
}

.column span,
.why-left span {
    color: #6A6A6A;
}

.four-benefits .row {
    display: flex;
}

.four-benefits .column {
    flex: 50%;
}

.blue-circle {
    background-color: #35736E33;
    width: 10%;
    height: 20%;
    border-radius: 50%;
    position: absolute;
    left: 4%;
    top: 2px;
}

.yellow-dots img {
    height: 169px;
    position: absolute;
}

.cool-interior img {
    height: 500px;
    position: relative;
    left: 75px;
    top: 50px;
}