body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

/*NAVBAR*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-logo h1 {
    color: #FFFFFF;
    padding-left: 150px;
}

.nav-logo span {
    color: #728981;
}

.list-items {
    padding-left: 300px;
}

.list-items ul {
    display: flex;
}

.list-items li {
    list-style-type: none;
    color: #839b91;
    padding-left: 40px;
}

.list-items span {
    color: #FFFFFF;
    border-bottom: 4px solid #f9bf29;
}

.login-cart-icons {
    padding-right: 190px;
}

.svg-size {
    height: 25px;
    color: #FFFFFF;
}

/*BANNER*/
.banner {
    background-color: #3b5d50;
    height: 615px;
}

.banner-content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.left-content {
    padding-left: 150px;
    width: 33.333%
}

.left-content h1 {
    color: #FFFFFF;
    font-size: 50px;
    margin-top: 120px;
}

.two-buttons {
    display: flex;
    margin-top: 100px;
}

.yellow-btn button {
    background-color: #f9bf29;
    width: 130px;
    height: 40px;
    border-radius: 25px;
    border: none;
}

.transparent-btn button {
    background: none;
    width: 130px;
    height: 40px;
    border-radius: 25px;
    border: solid 2px #839b91;
    color: #FFFFFF;
    margin-left: 20px;
}

.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-dots img {
    height: 169px;
    position: absolute;
    right: 0;
    top: 102px;
}

.green-couch img {
    height: 500px;
    margin-top: 40px;
    position: relative;
    z-index: 2;
}

.two-img {
    position: relative;
}